html {
  font-size: 10px; }

.icono {
  height: 3.5rem;
  width: 3.5rem; }

.blue {
  color: #305ff8; }

.header {
  display: flex;
  background-color: #0d6efd;
  padding: 0 30rem; }
  .header li {
    color: #343a40; }
  .header a {
    text-decoration: none;
    color: white;
    font-size: 2rem; }

.menu {
  display: flex;
  flex-flow: row wrap; }

.presentacion {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem; }
  .presentacion img {
    height: 40rem;
    width: 30rem;
    border-radius: 2rem; }

.proyectos {
  display: flex;
  justify-content: center;
  margin: 4rem; }

.redes {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }

.intro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.footer {
  display: flex;
  justify-content: center;
  margin: 4rem; }
